    <html>
        
        <head>
            <title>Владимир Донской</title>
        </head>
        <body>
            <div>
                <h1><a href="">Владимир Донской</a></h1>
            </div>


            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Изучаю Django(1.8)-Python(3.4)</a></h2>
                <p>Немало тонкостей с Django-Python. Например, для того, чтобы реакцией на русский текст в шаблоне не было указание на ошибку, нужен подходящий редактор. К примеру, питоновский</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Продолжаю изучение Django</a></h2>
                <p>Django is fantastic! </p>
            </div>
        </body>
    </html>
